<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/header.css"/>
        
    </head>
    <body>
        <div class="header-main">
            <header class="home-header">
                <div style="display:flex;flex-direction: row;align-items: center;">
                    <div class="home-logo-content">
                        <img id="logo" src="../images/icons/logo_salmon.png" alt="search" style="width: 36px; height:36px; margin-top:2px"/>
                        <span>airbnb</span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="./listOfHotels.html" class="middle" target="_top"> Places to stay </a></li>
                            <li><a href="./listOfHotels.html" class="middle" target="_top"> Monthly Stays </a></li>
                            <li><a href="./listOfHotels.html" class="middle" target="_top"> Experiences </a></li>
                        </ul>
                    </div>
                </div>
                <div class="home-options">
                    <div class="language-select-div">
                        <img id="language-select-image" src="../images/icons/language_white.png" alt="lan" style="width:20px;height: 20px;position:absolute; margin-top: 5px;"/>
                        <select id="language-select" style="width:48px;margin-left: 15px;margin-top: 5px; border: none;" src = "../images/icons/down_black.png">
                            <option hidden></option>
                            <option>$ USD</option>
                            <option>€ EUR</option>
                            <option>₹ INR</option>
                            <option>£ GBP</option>
                            <option>¥ YEN</option>
                        </select>
                    </div>    
                    <div class="my-profile">
                        <img src="../images/icons/menu.png" alt="lan" style="width:15px;height: 15px; margin-right: 2px; margin-left: 3px;"/>
                        <img src="../images/icons/profile.png" alt="lan" style="width:25px;height: 25px; margin-left:2px"/>
                    </div>
                </div>
            </header>
        </div>

        <script src="../js/header.js"></script>
    </body>
</html>