<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/hotelInfo.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    
    <body>
        <div class="main-container">
            
            <iframe src="./header.html" class="iframe-header"></iframe>
            <div class="main-content">

                <div class="hotel-header">
                    <div class="hotel-header-left">
                        <h2>Sheraton Grand Dubai</h2>
                        <div class="hotel-header-rating">
                            <img src="../images/icons/star.png">
                            <h4>4.5</h4>
                            <p>1135 reviews</p>
                        </div>
                        <div class="hotel-header-location">
                            <img src="../images/icons/pin.png">
                            <p>2 kilometers from city center</p>
                        </div>
                    </div>
                    <div class="hotel-header-right">
                        <div class="hotel-header-right-box">
                            <img src="../images/icons/favourite.png"/>
                            <p>Save</p>
                        </div>
                        <div class="hotel-header-right-box">
                            <img src="../images/icons/share.png"/>
                            <p>Share</p>
                        </div>
                    </div>
                </div>
                <div class="hotel-main-header">
                    <div class="book">
                        <div class="book-dates">
                            <div class="book-check-in">
                                <img src="../images/icons/calendar.png"/>
                                <div class="check-div">
                                    <h6>Check In</h6>
                                    <input type="text" placeholder="20-08-2020"/>
                                </div>
                            </div>
                            <div class="book-check-out">
                                <img src="../images/icons/calendar.png"/>
                                <div class="check-div">
                                    <h6>Check Out</h6>
                                    <input type="text" placeholder="25-08-2020"/>
                                </div>
                            </div>
                        </div>
                        <div class="guests">
                            <img src="../images/icons/people.png"/>
                            <div class="check-div">
                                <h6>Guests and rooms</h6>
                                <input type="text" placeholder="2 rooms, 4 adults, 0 children"/>
                            </div>
                        </div>
                        <h5 class="prices-message">Here are the lowest prices we found</h5>
                        <div class="prices">
                            <div class="price-box">
                                <p>Booking.com</p>
                                <h3>&#8377; 25,098</h3>
                            </div>
                            <div class="vertical-separator" style="margin: 0 5px; height: 40px; vertical-align: middle;"></div>
                            <div class="price-box">
                                <p>Booking.com</p>
                                <h3>&#8377; 25,098</h3>
                            </div>
                            <div class="vertical-separator" style="margin: 0 5px; height: 40px; vertical-align: middle;"></div>
                            <div class="price-box">
                                <p>Booking.com</p>
                                <h3>&#8377; 25,098</h3>
                            </div>
                        </div>
                        <div class="final-price">
                            <div class="final-price-left">
                                <h4>Booking.com</h4>
                                <h1>&#8377; 25,098</h1>
                                <h3>a night</h3>
                                <p>taxes and fees not included</p>
                            </div>
                            <button class="book-button">Book</button>
                        </div>
                    </div>
                    <div class="images">
                        <div class="main-image">
                            <img src="../images/icons/camera.png"/>
                            <p>View all photos</p>
                        </div>
                        <div class="other-images">
                            <div class="traveller-image">
                                <div class="traveller-image-inner">
                                    <img src="../images/icons/user.png"/>
                                    <p>Traveller</p>
                                    <h6>231</h6>
                                </div>
                                    
                                
                            </div>
                            <div class="room-image">
                                <div class="room-image-inner">
                                    <img src="../images/icons/room_suite.png"/>
                                    <p>Room & Suites</p>
                                    <h6>231</h6>
                                </div>
                            </div>
                            <div class="pool-image">
                                <div class="pool-image-inner">
                                    <img src="../images/icons/camera.png"/>
                                    <p>Pool & Beach</p>
                                    <h6>231</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                       
            </div>
            <div class="hero">
                <svg viewBox="0 0 14832 55" class="svg-curve" style="top:1px;height:30px"><path d="M7501.307 8.517l-68.043 39.341c-10.632 6.185-23.795 6.185-34.528 0l-68.144-39.34c-8.91-5.173-18.988-8.215-29.316-8.518H0v55h14832V0H7530.671a63.604 63.604 0 0 0-29.364 8.517z"></path></svg>
            </div>

        </div>

        <div class="hotel-bar">
            <div class="hotel-bar-text overview">Overview</div>
            <div class="hotel-bar-text location">Location</div>
            <div class="hotel-bar-text reviews">Reviews</div>
            <div class="hotel-bar-text faq">FAQ</div>
            <div class="hotel-bar-text more">More</div>
        </div>

        <div class="hotel-content">
            <div class="hotel-content-left">
                <div class="overview-box">
                    <div class="overview-box-left">
                        <h3>About</h3>
                        <div class="overview-box-left-rating">
                            <h1>4.5</h1>
                            <div class="overview-box-left-rating-box">
                                <h4>Very Good</h4>
                                <div class="overview-box-left-rating-box-stars">
                                    <img src="../images/icons/star.png">
                                    <img src="../images/icons/star.png">
                                    <img src="../images/icons/star.png">
                                    <img src="../images/icons/star.png">
                                    <p>1136 reviews</p>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam massa lacus, accumsan quis rutrum a, molestie quis turpis. Integer ullamcorper dolor et risus scelerisque, id rutrum risus ultricies. Morbi eget accumsan urna, quis molestie sem. Pellentesque malesuada porta diam. Quisque tristique dui justo, nec placerat nibh gravida in. Pellentesque iaculis lacus odio, vel suscipit felis congue sed. Suspendisse accumsan velit quis dignissim accumsan. Vestibulum ullamcorper quam a hendrerit vulputate. Sed sit amet nulla vel augue tincidunt euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse arcu sapien, euismod a nibh id, tincidunt euismod eros. Nullam fermentum et est eget condimentum.</p>
                    </div>
                    <div class="overview-box-right">
                        <h5>Property amenities</h5>
                        <div class="overview-box-right-amenities">
                            <div class="amenity">
                                <img src="../images/icons/wifi_black.png"/>
                                <p>WiFi</p>
                            </div>
                            <div class="amenity">
                                <img src="../images/icons/parking_black.png"/>
                                <p>Parking</p>
                            </div>
                            <div class="amenity">
                                <img src="../images/icons/gym_black.png"/>
                                <p>Gym</p>
                            </div>
                            <div class="amenity">
                                <img src="../images/icons/alcohol.png"/>
                                <p>Alcohol</p>
                            </div>
                        </div>
                        <h5>Other features</h5>
                        <div class="features">
                            <div style="display:inline-block"><p class="feature">Great accomodation</p></div>
                            <div style="display:inline-block"><p class="feature">Breakfast included</p></div>
                            <div style="display:inline-block"><p class="feature">Pets allowed</p></div>
                        </div>
                    </div>
                </div>

                <div class="location-box">
                    <h3>Location</h3>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.7441055581935!2d77.4213102150371!3d28.667379782404012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf04ac7c7c817%3A0x1a4e97864522227a!2s188%2C%20Hapur%20Rd%2C%20Gopal%20Nagar%2C%20Patel%20Nagar%201%2C%20Patel%20Nagar%2C%20Ghaziabad%2C%20Uttar%20Pradesh%20201003%2C%20India!5e0!3m2!1sen!2sus!4v1596708374540!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="contact-us">
                        <div class="contact-us-left">
                            <div class="contact-us-left-title">
                                <img src="../images/icons/pin_black.png"/>
                                <h5>Our Address</h5>
                            </div>
                            <p>188, Opposite CBI ATM, Near Hanuman Temple, Hapur Rd, Gopal Nagar, Patel Nagar 1, Patel Nagar, New Delhi, UT of Delhi 201003, India</p>
                        </div>
                        <div class="contact-us-right">
                            <div class="contact-us-left-title">
                                <h5>Get in touch</h5>
                            </div>
                            <div class="contact-us-right-item">
                                <img src="../images/icons/phone_black.png"/>
                                <p>+91 9456345672</p>
                            </div>
                            <div class="contact-us-right-item">
                                <img src="../images/icons/mail_black.png"/>
                                <p>info@airbnb.com</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-box">
                    <div class="review-box-titlebar">
                        <h3>Reviews</h3>
                        <button>
                            <h5>Post a review</h5>
                            <img src="../images/icons/write.png"/>
                        </button>
                    </div>
                    <div class="review-box-filters">
                        <div class="traveller-rating">
                            <h3>Traveller Rating</h5>
                                <div class="traveller-rating-item">
                                    <span>
                                        <input type="checkbox"/>
                                        <p>Excellent</p>    
                                    </span>
                                    <progress value="53" max="100"></progress>
                                </div>
                                <div class="traveller-rating-item">
                                    <span>
                                        <input type="checkbox"/>
                                        <p>Very Good</p>    
                                    </span>
                                    <progress value="21" max="100"></progress>
                                </div>
                                <div class="traveller-rating-item">
                                    <span>
                                        <input type="checkbox"/>
                                        <p>Good</p>    
                                    </span>
                                    <progress value="9" max="100"></progress>
                                </div>
                                <div class="traveller-rating-item">
                                    <span>
                                        <input type="checkbox"/>
                                        <p>Average</p>    
                                    </span>
                                    <progress value="13" max="100"></progress>
                                </div>
                                <div class="traveller-rating-item">
                                    <span>
                                        <input type="checkbox"/>
                                        <p>Terrible</p>    
                                    </span>
                                    <progress value="3" max="100"></progress>
                                </div>              
                        </div>
                        <div class="time-of-year">
                            <h3>Time of year</h5>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>Jan-March</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>April-June</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>July-Sept</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>Oct-Dec</p>    
                                </div>
                        </div>
                        <div class="traveller-type">
                            <h3>Traveller Type</h5>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>Families</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>Couples</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>Solo</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>Business</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>Friends</p>    
                                </div>
                        </div>
                        <div class="language">
                            <h3>Language</h5>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>All Languages</p>    
                                </div>
                                <div class="traveller-rating-item" style="justify-content: flex-start;">
                                    <input type="checkbox"/>
                                    <p>English</p>    
                                </div>
                        </div>
                    </div>
                    <div class="popular-mentions">
                        <h3>Popular Mentions</h3>
                        <div class="popular-mentions-items">
                            <div class="popular-mentions-item">non veg</div>
                            <div class="popular-mentions-item">swimming pool</div>
                            <div class="popular-mentions-item">suite</div>
                            <div class="popular-mentions-item">beach</div>
                            <div class="popular-mentions-item">fish</div>
                            <div class="popular-mentions-item">accommodation</div>
                            <div class="popular-mentions-item">food</div>
                            <div class="popular-mentions-item">hospitable staff</div>
                            <div class="popular-mentions-item">pool table</div>
                            <div class="popular-mentions-item">chicken</div>
                            <div class="popular-mentions-item">live singer</div>
                            <div class="popular-mentions-item">location</div>
                            <div class="popular-mentions-item">service</div>
                            <div class="popular-mentions-item">horrible</div>
                            <div class="popular-mentions-item">alcohol</div>
                            <div class="popular-mentions-item">vegetarian</div>
                        </div>
                    </div>
                    <div class="reviews-items">
                        <div class="review-item">
                            <div class="review-item-top">
                                <img src="../images/london.jpg"/>
                                <div class="review-item-top-name">
                                    <span>
                                        <h3>Anuj Verma</h3>
                                        <h6>wrote a review on 3rd March 2020</h6>
                                    </span>
                                    <span>
                                        <img src="../images/icons/pin_black.png" style="width: 10px; height: 10px; padding: 0 3px 0 0; margin: auto 0;margin-bottom: 5px;"/>
                                        <h4>New Delhi, India</h4>
                                        <div class="dot"></div>
                                        <h4>26 contributions</h4>
                                        <div class="dot"></div>
                                        <h4>5 helpful votes</h4>
                                    </span>
                                </div>
                            </div>
                            <div class="review-body">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>  
                                <h2>Great place to spend vacation</h2>
                                <p>I stayed in this property for 1 night but it was so so peaceful that I decided to extend my trip by another day. This property is small but has ample places to relax yourself - pool, swings outside rooms, hammocks. Rooms are spacious. If you stay in first floor, you’d enjoy sitting in balcony all day. GF rooms have a swing outside each room.
                                    I wouldn’t recommend pool facing cottages as they are small and very close to pool so if you don’t have occupied all the cottages , privacy would be a concern.
                                    
                                    I really loved the food and the senior who everyday delighted us with his recommendations. He made sure my 1 year kid is getting the kind of food he wouldn’t fuss about.</p>
                            </div>
                        </div>
                        <div class="review-item">
                            <div class="review-item-top">
                                <img src="../images/new_york.jpg"/>
                                <div class="review-item-top-name">
                                    <span>
                                        <h3>Rashmi Vaidya</h3>
                                        <h6>wrote a review on 2nd March 2020</h6>
                                    </span>
                                    <span>
                                        <img src="../images/icons/pin_black.png" style="width: 10px; height: 10px; padding: 0 3px 0 0; margin: auto 0;margin-bottom: 5px;"/>
                                        <h4>New Delhi, India</h4>
                                        <div class="dot"></div>
                                        <h4>26 contributions</h4>
                                        <div class="dot"></div>
                                        <h4>5 helpful votes</h4>
                                    </span>
                                </div>
                            </div>
                            <div class="review-body">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>  
                                <h2>Enjoyed my stay at Sheraton Grand</h2>
                                <p>I stayed in this property for 1 night but it was so so peaceful that I decided to extend my trip by another day. This property is small but has ample places to relax yourself - pool, swings outside rooms, hammocks. Rooms are spacious. If you stay in first floor, you’d enjoy sitting in balcony all day. GF rooms have a swing outside each room.
                                    I wouldn’t recommend pool facing cottages as they are small and very close to pool so if you don’t have occupied all the cottages , privacy would be a concern.
                                    
                                    I really loved the food and the senior who everyday delighted us with his recommendations. He made sure my 1 year kid is getting the kind of food he wouldn’t fuss about.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hotel-content-right">
                
            </div>
        </div>
       
        <iframe src="./footer.html" class="iframe-footer"></iframe>

        
        <script src="../js/hotelInfo.js"></script>
        
    </body>
</html>