<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/hotelInfo.css"/>
    </head>

    
    <body>
        <div class="main-container">
            
            <iframe src="./header.html" class="iframe-header"></iframe>
            <div class="main-content">

                <div class="hotel-header">
                    <div class="hotel-header-left">
                        <h2>Sheraton Grand Dubai</h2>
                        <div class="hotel-header-rating">
                            <img src="../images/icons/star.png">
                            <h4>4.5</h4>
                            <p>1135 reviews</p>
                        </div>
                        <div class="hotel-header-location">
                            <img src="../images/icons/pin.png">
                            <p>2 kilometers from city center</p>
                        </div>
                    </div>
                    <div class="hotel-header-right">

                    </div>
                </div>
                
                       
            </div>
            <div class="hero">
                <svg viewBox="0 0 14832 55" class="svg-curve" style="top:1px;height:30px"><path d="M7501.307 8.517l-68.043 39.341c-10.632 6.185-23.795 6.185-34.528 0l-68.144-39.34c-8.91-5.173-18.988-8.215-29.316-8.518H0v55h14832V0H7530.671a63.604 63.604 0 0 0-29.364 8.517z"></path></svg>
            </div>

        </div>
       
        <iframe src="./footer.html" class="iframe-footer"></iframe>

        
        <script src="../js/hotelInfo.js"></script>
        
    </body>
</html>