<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/listOfHotels.css"/>
    </head>
    <body>
        <div class="main-container">
            
            <iframe src="./header.html" class="iframe-header"></iframe>
            <div class="main-content">
                <h2>Hotels in Dubai</h2>
                <h6>United Arab Emirates</h6>
                <div class="search-hotels">
                    <div class="search-hotels-info">
                        
                        <h5>Dubai</h5>
                        <div class="dot"></div>
                        <h5>20th August - 25th August</h5>
                        <div class="dot"></div>
                        <h5>4 guests - 2 rooms</h5>
                    </div>
                    <div class="separator"></div>
                    <div class="searchbar">
                        <div class="searchbar-info">
                            <h3 class="location-width">Which hotel do you want to stay in ?</h3>
                            <h3 class="check-in-width">Check In</h3>
                            <h3 class="check-out-width">Check Out</h3>
                            <h3 class="guests-width">Guests and rooms</h3>
                        </div>
                        <div class="searchbar-inner">
                            <div class="location">
                                <input placeholder="Enter your hotel name"/>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="check-in">
                                <input placeholder="20th August"/>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="check-out">
                                <input placeholder="25th August"/>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="guests">
                                <input placeholder="4 guests, 2 rooms"/>
                            </div>
                        </div> 
                    </div>
                    <div class="bottom-bar">
                        <div class="info">
                            <img src="../images/icons/info.png" />
                            <p>We never ask for any fee or commission for booking at hotels. Beware of such scams</p>
                        </div>
                        <div class="search-button">
                            <img src="../images/icons/search.png" />
                            <p>Search</p>
                        </div>
                    </div>
                </div>         
            </div>
            <div class="hero">
                <svg viewBox="0 0 14832 55" class="svg-curve" style="top:1px;height:30px"><path d="M7501.307 8.517l-68.043 39.341c-10.632 6.185-23.795 6.185-34.528 0l-68.144-39.34c-8.91-5.173-18.988-8.215-29.316-8.518H0v55h14832V0H7530.671a63.604 63.604 0 0 0-29.364 8.517z"></path></svg>
            </div>

        </div>
        
        <div class="list-of-hotels">
            <div class="left-box">

            </div>
            <div class="right-box">
                <!-- <div class="hotel-card">
                    <div class="hotel-image-box">

                    </div>
                    <div class="hotel-info-box">
                        <h2>Sheraton Grand , Dubai</h2>
                        <div class="hotel-rating">
                            <img src="../images/icons/star.png"/>
                            <h2>4.5</h2>
                            <p>1134 reviews</p>
                        </div>
                        <div class="features">
                            <p class="feature">Good Cleanliness</p>
                            <p class="feature">Pets Allowed</p>
                        </div>
                        
                        <div class="amenities">
                            <div class="amenity">
                                <img src="../images/icons/wifi.png"/>
                                <p>WiFi</p>
                            </div>
                            <div class="amenity">
                                <img src="../images/icons/air_conditioned.png"/>
                                <p>Air Conditioned</p>
                            </div>
                            <div class="amenity">
                                <img src="../images/icons/gym.png"/>
                                <p>Gym</p>
                            </div>
                            <div class="amenity">
                                <img src="../images/icons/fork.png"/>
                                <p>Breakfast Included</p>
                            </div>
                            <div class="amenity">
                                <img src="../images/icons/parking.png"/>
                                <p>Parking</p>
                            </div>
                        </div>
                        
                        <div class="prices">
                            <div class="price-box">
                                <p>Booking.com</p>
                                <h3>₹ 16,350</h3>
                            </div>
                            <div class="vertical-separator" style="margin: 0 5px; height: 40px; vertical-align: middle;"></div>
                            <div class="price-box">
                                <p>MakeMyTrip</p>
                                <h3>₹ 17,250</h3>
                            </div>
                            <div class="vertical-separator" style="margin: 0 5px; height: 40px;"></div>
                            <div class="price-box">
                                <p>Agoda</p>
                                <h3>₹ 18,020</h3>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-separator gradient" style="background-color: #F1F2F8; width:4px; left:-2px"></div>
                    <div class="hotel-price-box">
                        <h5>Lowest price</h5>
                        <h4>we found for this hotel</h4>
                        <div class="parent-div">
                            <h6>Booking.com</h6>
                        </div>         
                        <h1>₹ 16,350</h1>
                        <h3>a night</h3>
                        <p>taxes and fees not included</p>
                        <button class="book-button">Book</button>
                    </div>
                    <div class="top-circle-cut"></div>
                    <div class="bottom-circle-cut"></div>
                </div> -->
                <!-- <div class="hotel-card">

                </div>
                <div class="hotel-card">

                </div> -->
            </div>
        </div>
        
        
        <iframe src="./footer.html" class="iframe-footer"></iframe>

        <script src="../js/listOfHotels.js"></script>
    </body>
</html>