<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/listOfHotels.css"/>
    </head>

    
    <body>
        
        <div class="main-container">
            
            <iframe src="./header.html" class="iframe-header"></iframe>
            <div class="main-content">
                <h2>Hotels in Dubai</h2>
                <h6>United Arab Emirates</h6>
                <div class="search-hotels">
                    <div class="search-hotels-info">
                        
                        <h5>Dubai</h5>
                        <div class="dot"></div>
                        <h5>20th August - 25th August</h5>
                        <div class="dot"></div>
                        <h5>4 guests - 2 rooms</h5>
                    </div>
                    <div class="separator"></div>
                    <div class="searchbar">
                        <div class="searchbar-info">
                            <h3 class="location-width">Which hotel do you want to stay in ?</h3>
                            <h3 class="check-in-width">Check In</h3>
                            <h3 class="check-out-width">Check Out</h3>
                            <h3 class="guests-width">Guests and rooms</h3>
                        </div>
                        <div class="searchbar-inner">
                            <div class="location">
                                <input placeholder="Enter your hotel name"/>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="check-in">
                                <input placeholder="20th August"/>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="check-out">
                                <input placeholder="25th August"/>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="guests">
                                <input placeholder="4 guests, 2 rooms"/>
                            </div>
                        </div> 
                    </div>
                    <div class="bottom-bar">
                        <div class="info">
                            <img src="../images/icons/info.png" />
                            <p>We never ask for any fee or commission for booking at hotels. Beware of such scams</p>
                        </div>
                        <div class="search-button">
                            <img src="../images/icons/search.png" />
                            <p>Search</p>
                        </div>
                    </div>
                </div>         
            </div>
            <div class="hero">
                <svg viewBox="0 0 14832 55" class="svg-curve" style="top:1px;height:30px"><path d="M7501.307 8.517l-68.043 39.341c-10.632 6.185-23.795 6.185-34.528 0l-68.144-39.34c-8.91-5.173-18.988-8.215-29.316-8.518H0v55h14832V0H7530.671a63.604 63.604 0 0 0-29.364 8.517z"></path></svg>
            </div>

        </div>
        <h3 class="results-text">We found 142 hotels matching your dates in Dubai</h3>
        <div class="list-of-hotels">
            <div class="left-box">
                <div class="filters">
                    <div class="filters-title">
                        <h5>Filter Results</h5>
                        <img src="../images/icons/filter.png"/>
                    </div>
                    <label class="checkbox-container">Four stars and up
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">Air conditioning
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">Breakfast included
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">Allows pets
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                    </label>
                    <h6>Search by price range</h6>
                    <div class="price-filter">
                        <input type="text" placeholder="&#8377; 5000"/>
                        -
                        <input type="text" placeholder="&#8377; 40000"/>
                        <button><img src="../images/icons/search.png"/></button>
                    </div>
                </div>
                <!-- <div class="offers">

                </div> -->
            </div>
            <div class="right-box">
            </div>
        </div>

        
        
        
        <iframe src="./footer.html" class="iframe-footer"></iframe>

        
        
        <script src="../js/listOfHotels.js"></script>
        
    </body>
</html>