@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap';


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeIn{
    animation: fadeIn ease 1s;
}

.fadeOut{
    animation: fadeOut ease 1s
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    background-color: #F1F2F8;
    scroll-behavior: smooth;
}

.iframe-footer {
    width: 100%;
    height: 540px;
    border: none;
    margin-top: 30px;
    background-color: #2a2b2b;
    margin-bottom: 0;
    padding:0;
}

.iframe-header {
    width: 100%;
    height: 90px;
    border: none;
    /* border-bottom: 1px #d3d3d3 solid; */
    background-color: transparent;
    margin-bottom: 0;
    padding:0;
    position: absolute;
}

.main-container {
    margin: 0;
    width: 100%;
    color: blue;
    align-items: center;
    overflow: hidden;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom right, #0000004a 50%, #00000000), url("../images/dubai.jpg");
    background-size: cover;
    background-color:#F1F2F8
    
}

.main-content {
    height: 540px;
    width: 100%;
    display: flex;
    align-items: center;  
    flex-direction: column;
    padding-top: 90px;
}

.hero {
    color: #111236;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: relative;
    display: flex;
    min-width: 10rem;
    height: 1.5rem;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    align-self: flex-end;
}
.hero::after{
    box-sizing: inherit;
}
.hero::before{
    box-sizing: inherit;
}

.svg-curve {
    color: #111236;
    /* font-family: Skyscanner Relative,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif; */
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: absolute;
    bottom: -1px;
    width: 700rem;
    height: 1.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    fill: #F1F2F8;
    overflow: hidden;
    
}
.svg-curve::before {
    box-sizing: inherit;
}
.svg-curve::after {
    box-sizing: inherit;
}

.hotel-header {
    width: 80%;
    
    background-color:transparent;
    margin-top:30px;
    display: flex;
    flex-direction: row;
}
.hotel-header-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: transparent;
    height: 100%;
}
.hotel-header-right {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 100%;
    width: 20%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}
.hotel-header-right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px
}
.hotel-header-right img {
    width: 22px;
    height: 22px;
    margin: 0px 8px;
}
.hotel-header-right p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
}

.hotel-header h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    margin: 0;
    color: #fff;
    font-weight: 700;
}
.hotel-header-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin :0;
    overflow: hidden;
}
.hotel-header-rating h4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin: 0;
    color: #E8AD04;
    font-weight: 700;
    padding:0;
}
.hotel-header-rating  img {
    width:20px;
    height: 20px;
    margin-right:5px;
    margin-bottom: 3px;
}
.hotel-header-rating p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
}

.hotel-header-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin :0;
    overflow: hidden;
    margin: 5px 0;
}
.hotel-header-location  img {
    width:15px;
    height: 15px;
}
.hotel-header-location p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 0;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
}

.hotel-main-header {
    width: 80%;
    height: 350px;
    background-color:transparent;
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.book {
    height: 350px;
    width: 35%;
    background-color: #2a2b2bfa;
    border-radius: 10px;
}
.book-dates {
    width: calc(100% - 40px);
    margin: 20px;
    height: 45px;
    background-color:transparent;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.book-dates img {
    width:16px;
    height: 16px;
    margin:5px
}
.book-check-in {
    width: 46%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid #d3d3d3;
    border-left: 8px solid green;
}
.book-check-out {
    width: 46%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid #d3d3d3;
    border-left: 8px solid #E41D5A;
}

.images {
    height: 350px;
    width: 64%;
    background-color: white;
    border-radius: 10px;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.check-div {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    margin: 5px 5px;
    width: 100%;
}
.check-div h6  {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 0;
    color: #ababab;
    font-weight: 600;
}
.check-div input  {
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    margin: 0;
    color: #2a2b2b;
    font-weight: 600;
    height: 35px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.guests {
    width: calc(100% - 40px);
    margin: 20px;
    height: 45px;
    background-color:transparent;
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
    border-radius:7px;
}
.guests img {
    width:18px;
    height: 18px;
    margin:5px;
    margin-left: 13px;
}

.prices {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
}

.price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}
.price-box p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #d3d3d3;
    font-weight: 500;
    margin: 0px 0;
    text-align: left;
}
.price-box h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    margin: 5px 0 5px 0;
    text-align: left;
}

.separator-grey {
    width: calc(100% - 30px);
    margin: 0px 15px;
    height: 1px;
    background-color: #eee;
    border-radius: 1px;
}

.vertical-separator {
    width:0.5px;
    height: calc(100% - 14px);
    margin: 7px 0;
    background-color:#d3d3d3;
}

.prices-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #eee;
    font-weight: 600;
    margin: 10px 20px;
}

.final-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 ;
    background-color: transparent;
    margin: 10px 20px;
    justify-content: space-between;
}
.final-price-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.final-price-left h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    text-align: left;
    background-color: #0DAEC0;
    border-radius: 20px;
    /* width: 100px; */
    align-self: flex-start;
    margin: 0;
    padding: 4px 8px;
}
.final-price-left h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 5px 0 0 0;
    text-align: left;
    line-height:28px;
}
.final-price-left h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #d3d3d3;
    font-weight: 500;
    margin: 0px 0 0 0;
    text-align: left;
    margin-right: 15px;
}
.final-price-left p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #ababab;
    font-weight: 400;
    margin: 0px 0 0 0;
    text-align: left;
    margin-right: 15px;
}

.book-button {
    width: calc(40% - 20px);
    
    height: 40px;
    border-radius: 40px;
    background-color: #FF5A5F;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.book-button:hover {
    background-color: #E41D5A;
    transition: 0.3s;
}

.main-image {
    width: 80%;
    height: 100%;
    background:linear-gradient(to right top, #000000aa 15%, #00000000 25%) ,url('../images/sheraton_grand.jpg');
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-right: 2px solid white;
}
.other-images{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.traveller-image {
    height: 33%;
    width: 100%;
    background: radial-gradient(circle, #0000009a,#0000003a), url("../images/al_bandar.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.traveller-image-inner, .room-image-inner, .pool-image-inner {
    backdrop-filter: blur(3px) ;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    
}
.room-image {
    height: 34%;
    width: 100%;
    background: radial-gradient(circle, #0000009a,#0000003a), url("../images/taj.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.pool-image {
    height: 34%;
    width: 100%;
    background: radial-gradient(circle, #0000009a,#0000003a), url("../images/the_palm.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.traveller-image img, .room-image img, .pool-image img, .main-image img {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 5px;
    cursor: pointer;
}
.traveller-image p, .room-image p, .pool-image p ,.main-image p {
    font-family: "Montserrat", sans-serif;
    margin: 5px auto;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.traveller-image h6, .room-image h6, .pool-image h6, .main-image h6 {
    font-family: "Nunito Sans", sans-serif;
    margin: 0px auto;
    color: white;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}
.main-image img,.main-image p,.main-image h6{
    margin: 10px 0px 10px 10px;
}
.main-image p{
    margin-bottom: 13px;
}

.hotel-content {
    width: 80%;
    height: 7000px;
    background-color: transparent;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start
}



.hotel-bar {
    width: 50%;
    height: 35px;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    padding-left: 10px;
    margin-top: 30px;
    background-color: #F1F2F8;
    padding-right: 30px;
}
.hotel-bar-text {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin: 0;
    color: #2a2b2b;
    font-weight: 600;
    line-height: 20px;
    border-bottom: 5px solid transparent;
    padding:0;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
}
/* .hotel-bar-text:hover {
    color: #FF5A5F;
    border-bottom: 4px solid #FF5A5F;
    transition: 0.3s;
} */

.hotel-content-left {
    width: 65%;
    height: 100%;
}
.hotel-content-right {
    width: 35%;
    height: 100px;
    background-color:gold;
    margin-top: 10px;
}

.overview-box {
    width: calc(100% - 20px);
    margin: 10px;
    /* height: 300px; */
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.overview-box-left {
    width:60%;
    background-color: transparent;
    padding: 20px;
}
.overview-box-left h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.17em;
    font-weight: bold;
    color: #2a2b2b;
    margin: 0;
    padding: 0;
}
.overview-box-left p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #484848;
    margin: 0;
    padding: 0;
    line-height: 20px;
    margin-top: 20px;
    padding-right: 20px;
}
.overview-box-left-rating {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.overview-box-left-rating h1{
    font-family: "Nunito Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #2a2b2b;
    margin: 0;
    padding: 0;
}
.overview-box-left-rating-box {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.overview-box-left-rating-box h4{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    padding:4px 8px;
    border-radius: 20px;
    background-color: #069C13;
    text-transform: capitalize;
    text-align: center;
    margin:0;
    width: 60px;
}
.overview-box-left-rating-box-stars {
    margin: 0px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.overview-box-left-rating-box-stars img {
    width:15px;
    height:15px;
    margin-right: 5px;
    margin-top: 5px;
}
.overview-box-left-rating-box-stars p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ababab;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.overview-box-right {
    width:40%;
    background-color: transparent;
    margin-top: 70px;
}
.overview-box-right h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #2a2b2b;
    margin: 0;
    padding:0;
}
.overview-box-right-amenities {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: 20px 0;
}
.amenity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
}
.amenity img {
    width:22px;
    height: 22px;
}
.amenity p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #484848;
    margin: 0 8px;
    padding:0;
}

.features {
    display: block;
    margin-top: 20px;
    /* grid-template-columns: repeat(auto-size, 1fr);
    grid-template-rows: repeat(4, 100px); */
}

.feature{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #2a2b2b;
    font-weight: 600;
    margin: 5px 0;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
}

.location-box {
    width: calc(100% - 20px);
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.location-box h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.17em;
    font-weight: bold;
    color: #2a2b2b;
    margin: 20px 0 0 20px;
    padding: 0;
    display: none
}
.map {
    width: 100%;
    height: 350px;
    margin: 0px 0 10px 0;
}

.contact-us {
    width: 100%;
    margin: 0px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.contact-us-left {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 10px
}

.contact-us-right {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 10px
}

.contact-us-left-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.contact-us-left-title img{
    width: 17px;
    height: 17px;
}

.contact-us-left-title h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #2a2b2b;
    font-weight: bold;
    margin: 0 5px;
}

.contact-us-left p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    color: #2a2b2b;
    font-weight: 500;
    line-height: 18px;
    margin-left: 10px;
}

.contact-us-right-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0 0 15px;
}

.contact-us-right-item img {
    width:15px;
    height: 15px;
}

.contact-us-right p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #2a2b2b;
    font-weight: 500;
    line-height: 16px;
    margin:0;
    margin-left: 10px;
    padding:0
}

.review-box {
    width: calc(100% - 20px);
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-box-titlebar {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
}

.review-box-titlebar h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.17em;
    font-weight: bold;
    color: #2a2b2b;
    padding: 0;
    margin: 0;  
}

.review-box-titlebar button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    background-color: #FF5A5F;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #FF5A5F;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin:0
}
.review-box-titlebar button:hover {
    background-color: white;
    transition: 0.3s;
    border: 2px solid #FF5A5F;
    color: #FF5A5F
}

.review-box-titlebar img {
    width: 16px;
    height: 16px;
    margin: 2px 0px 2px 10px;
}

.review-box-titlebar h5 {
    margin: 0;
    padding: 0;
}

.review-box-filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.traveller-rating {
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
}

.time-of-year {
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.traveller-type {
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.language {
    width: 22%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.review-box-filters h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color:#484848;
    font-weight: 700;
    margin: 0%;
    padding:0;
    margin-bottom: 15px;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 12px;
  }

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
    overflow: hidden;
}

progress[value]::-webkit-progress-value {
    background-color: #FF5A5F;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.traveller-rating-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top : 5px;
}

.traveller-rating-item span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.traveller-rating-item p {
    font-family: 'Nunito Sans';
    font-size: 14px;
    color: #484848;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.traveller-rating-item input {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #fff;
    border: 0.5px solid #484848;
    margin: 5px 5px 5px 0;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    appearance: none;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.traveller-rating-item input:checked {
    background-color: #FF5A5F;
    transition: 0.3s;
}

.timeofyear-rating-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top : 5px;
}

.popular-mentions {
    width: 100%;
    display: inline-block;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
}

.popular-mentions h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color:#484848;
    font-weight: 700;
    margin: 0%;
    padding:0;
    margin-bottom: 15px;
}

.popular-mentions-items {
    width: 100%;
    display: block;
    background-color: transparent;
}

.popular-mentions-item {
    padding: 3px 7px;
    border: 0.4px solid #484848;
    border-radius: 3px;
    margin: 3px 4px;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    color:#484848;
    font-weight: 500;
    transition:0.3s;
    cursor: pointer;
}
.popular-mentions-item:hover {
    background-color: #FF5A5F;
    color: #fff;
    transition:0.3s;
    border: 0.4px solid #FF5A5F;
}

.reviews-items {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 10px;
    padding: 5px 20px;
}

.review-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #eee;
}

.review-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
}

.review-item-top img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.review-item-top-name {
    display: flex;
    flex-direction: column;
}
.review-item-top-name span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:2px;
    padding: 0
}

.review-item-top-name  h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color:#484848;
    font-weight: 700;
    margin: 0%;
    padding:0;
}

.review-item-top-name  h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color:#ababab;
    font-weight: 500;
    margin: 0%;
    padding:0 5px;
}

.review-item-top-name  h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    color:#ababab;
    font-weight: 500;
    margin: 0%;
    padding:0
}

.dot {
    width: 4px;
    height: 4px;
    margin: auto 5px;
    border-radius: 2px;
    background-color: #878787;
}

.review-body {
    width:  100%;
    box-sizing: border-box;
    background-color: transparent;
}

.stars {
    margin: 10px 0;
}

.fa {
    color: #d3d3d3;
    font-size: 8px;
  }
  
  .checked {
    color: orange;
  }

.review-body h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color:#2a2b2b;
    font-weight: 700;
    margin: 0%;
    padding:5px 0
}

.review-body p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color:#484848;
    font-weight: 500;
    margin: 0%;
    line-height: 20px;
}