@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap';


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeIn{
    animation: fadeIn ease 1s;
}

.fadeOut{
    animation: fadeOut ease 1s
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    background-color: #F1F2F8;
}

.iframe-footer {
    width: 100%;
    height: 540px;
    border: none;
    margin-top: 30px;
    background-color: #2a2b2b;
    margin-bottom: 0;
    padding:0;
}

.iframe-header {
    width: 100%;
    height: 90px;
    border: none;
    /* border-bottom: 1px #d3d3d3 solid; */
    background-color: transparent;
    margin-bottom: 0;
    padding:0;
    position: absolute;
}

.main-container {
    margin: 0;
    width: 100%;
    color: blue;
    align-items: center;
    overflow: hidden;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom right, #0000004a 50%, #00000000), url("../images/dubai.jpg");
    background-size: cover;
    background-color:#F1F2F8
    
}

.main-content {
    height: 540px;
    width: 100%;
    display: flex;
    align-items: center;  
    flex-direction: column;
    padding-top: 90px;
}

.hero {
    color: #111236;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: relative;
    display: flex;
    min-width: 10rem;
    height: 1.5rem;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    align-self: flex-end;
}
.hero::after{
    box-sizing: inherit;
}
.hero::before{
    box-sizing: inherit;
}

.svg-curve {
    color: #111236;
    /* font-family: Skyscanner Relative,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif; */
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: absolute;
    bottom: -1px;
    width: 700rem;
    height: 1.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    fill: #F1F2F8;
    overflow: hidden;
    
}
.svg-curve::before {
    box-sizing: inherit;
}
.svg-curve::after {
    box-sizing: inherit;
}

.hotel-header {
    width: 80%;
    
    background-color:transparent;
    margin-top:30px;
    display: flex;
    flex-direction: row;
}
.hotel-header-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: transparent;
    height: 100%;
}
.hotel-header-right {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 100%;
    width: 20%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}
.hotel-header-right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px
}
.hotel-header-right img {
    width: 22px;
    height: 22px;
    margin: 0px 8px;
}
.hotel-header-right p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
}

.hotel-header h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    margin: 0;
    color: #fff;
    font-weight: 700;
}
.hotel-header-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin :0;
    overflow: hidden;
}
.hotel-header-rating h4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin: 0;
    color: #E8AD04;
    font-weight: 700;
    padding:0;
}
.hotel-header-rating  img {
    width:20px;
    height: 20px;
    margin-right:5px
}
.hotel-header-rating p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
}

.hotel-header-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin :0;
    overflow: hidden;
    margin: 5px 0;
}
.hotel-header-location  img {
    width:15px;
    height: 15px;
}
.hotel-header-location p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 0;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
}

.hotel-main-header {
    width: 80%;
    height: 350px;
    background-color:transparent;
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.book {
    height: 350px;
    width: 35%;
    background-color: #2a2b2bfa;
    border-radius: 10px;
}
.book-dates {
    width: calc(100% - 40px);
    margin: 20px;
    height: 45px;
    background-color:transparent;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.book-dates img {
    width:16px;
    height: 16px;
    margin:5px
}
.book-check-in {
    width: 46%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid #d3d3d3;
    border-left: 8px solid green;
}
.book-check-out {
    width: 46%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid #d3d3d3;
    border-left: 8px solid #E41D5A;
}

.images {
    height: 350px;
    width: 64%;
    background-color: white;
    border-radius: 10px;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}



.hotel-bar {
    width: 50%;
    height: 35px;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    padding-left: 10px;
}
.hotel-bar-text {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin: 0;
    color: #ff5a5f;
    font-weight: 600;
    line-height: 20px;
    border-bottom: 5px solid #ff5a5f;
    padding:0;
    height: 100%;
}

.check-div {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    margin: 5px 5px;
    width: 100%;
}
.check-div h6  {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 0;
    color: #ababab;
    font-weight: 600;
}
.check-div input  {
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    margin: 0;
    color: #2a2b2b;
    font-weight: 600;
    height: 35px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.guests {
    width: calc(100% - 40px);
    margin: 20px;
    height: 45px;
    background-color:transparent;
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
    border-radius:7px;
}
.guests img {
    width:18px;
    height: 18px;
    margin:5px;
    margin-left: 13px;
}

.prices {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
}

.price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}
.price-box p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #d3d3d3;
    font-weight: 500;
    margin: 0px 0;
    text-align: left;
}
.price-box h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    margin: 5px 0 5px 0;
    text-align: left;
}

.separator-grey {
    width: calc(100% - 30px);
    margin: 0px 15px;
    height: 1px;
    background-color: #eee;
    border-radius: 1px;
}

.vertical-separator {
    width:0.5px;
    height: calc(100% - 14px);
    margin: 7px 0;
    background-color:#d3d3d3;
}

.prices-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #eee;
    font-weight: 600;
    margin: 10px 20px;
}

.final-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 ;
    background-color: transparent;
    margin: 10px 20px;
    justify-content: space-between;
}
.final-price-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.final-price-left h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    text-align: left;
    background-color: #0DAEC0;
    border-radius: 20px;
    /* width: 100px; */
    align-self: flex-start;
    margin: 0;
    padding: 4px 8px;
}
.final-price-left h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 5px 0 0 0;
    text-align: left;
    line-height:28px;
}
.final-price-left h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #d3d3d3;
    font-weight: 500;
    margin: 0px 0 0 0;
    text-align: left;
    margin-right: 15px;
}
.final-price-left p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #ababab;
    font-weight: 400;
    margin: 0px 0 0 0;
    text-align: left;
    margin-right: 15px;
}

.book-button {
    width: calc(40% - 20px);
    
    height: 40px;
    border-radius: 40px;
    background-color: #FF5A5F;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.book-button:hover {
    background-color: #E41D5A;
    transition: 0.3s;
}

.main-image {
    width: 80%;
    height: 100%;
    background: url('../images/sheraton_grand.jpg');
}
.other-images{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.traveller-image {
    height: 33%;
    width: 100%;
    background: radial-gradient(circle, #0000009a,#0000003a), url("../images/al_bandar.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-top: 0;
}
.traveller-image-inner, .room-image-inner, .pool-image-inner {
    backdrop-filter: blur(3px) ;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    
}
.room-image {
    height: 34%;
    width: 100%;
    background: radial-gradient(circle, #0000009a,#0000003a), url("../images/taj.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-top: 0;
    border-bottom: 0;
}
.pool-image {
    height: 34%;
    width: 100%;
    background: radial-gradient(circle, #0000009a,#0000003a), url("../images/the_palm.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-bottom: 0;
}
.traveller-image img, .room-image img, .pool-image img {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.traveller-image p, .room-image p, .pool-image p {
    font-family: "Montserrat", sans-serif;
    margin: 5px auto;
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.traveller-image h6, .room-image h6, .pool-image h6 {
    font-family: "Nunito Sans", sans-serif;
    margin: 0px auto;
    color: white;
    font-weight: 600;
    font-size: 13px;
}
