@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap';


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeIn{
    animation: fadeIn ease 1s;
}

.fadeOut{
    animation: fadeOut ease 1s
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    background-color: #F1F2F8;
}

.iframe-footer {
    width: 100%;
    height: 540px;
    border: none;
    margin-top: 30px;
    background-color: #2a2b2b;
    margin-bottom: 0;
    padding:0;
}

.iframe-header {
    width: 100%;
    height: 90px;
    border: none;
    /* border-bottom: 1px #d3d3d3 solid; */
    background-color: transparent;
    margin-bottom: 0;
    padding:0;
    position: absolute;
}

.main-container {
    margin: 0;
    width: 100%;
    color: blue;
    align-items: center;
    overflow: hidden;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom right, #0000004a 50%, #00000000), url("../images/dubai.jpg");
    background-size: cover;
    
}

.main-content {
    height: 540px;
    width: 100%;
    display: flex;
    align-items: center;  
    flex-direction: column;
    padding-top: 90px;
}

.main-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    border-bottom: 1.7px solid #fff;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    line-height:75px
}
.main-content h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.hero {
    color: #111236;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: relative;
    display: flex;
    min-width: 10rem;
    height: 1.5rem;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    align-self: flex-end;
}
.hero::after{
    box-sizing: inherit;
}
.hero::before{
    box-sizing: inherit;
}

.svg-curve {
    color: #111236;
    /* font-family: Skyscanner Relative,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif; */
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: absolute;
    bottom: -1px;
    width: 700rem;
    height: 1.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    fill: #F1F2F8;
    overflow: hidden;
    
}
.svg-curve::before {
    box-sizing: inherit;
}
.svg-curve::after {
    box-sizing: inherit;
}

.search-hotels {
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
    /* height: 200px; */
    background-color: #2a2b2bca;
    border-radius: 10px;
    overflow: hidden;
}

.search-hotels-info {
    width: calc(100% - 30px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
    vertical-align: center;
    margin: auto;
}

.separator {
    width: calc(100% - 50px);
    margin: 0px 25px;
    height: 1px;
    background-color: #636363;
    border-radius: 1px;
}

.search-hotels-info h5 {
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    vertical-align: center;
    margin: auto 15px;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:#ff5a5f;
    margin: auto 0px;
}

.searchbar {
    width: calc(100% - 30px);
    /* height: 80px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 15px 5px 15px;
    border-radius:10px;
    overflow: hidden;
}

.searchbar-inner {
    width: calc(100% - 10px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white;
    margin: 0px 5px 5px 5px;
    border-radius:10px;
    overflow: hidden;
}

.searchbar-info {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
    margin: 5px 0px 5px 0px;
    border-radius:10px;
    overflow: hidden;
}

.searchbar-info h3 {
    font-size: 14px;
    color: #ff5a5f;
    font-family: 'Montserrat', sans-serif;
    margin: auto 10px;
    font-weight: 600;
}

.location-width {
    width: 50%;
}
.check-in-width {
    width: 15%;
}
.check-out-width {
    width: 15%;
}
.guests-width {
    width: 20%;
}

.location {
    width: 48.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.location:hover {
    background-color: #eee;
    transition: 0.3s
}

.check-in:hover {
    background-color: #eee;
    transition: 0.3s
}

.check-out:hover {
    background-color: #eee;
    transition: 0.3s;
}

.guests:hover {
    background-color: #eee;
    transition: 0.3s
}

.check-in {
    width: 15.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.check-out {
    width: 15.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.guests {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.searchbar input {
    padding: auto 10px;
    width: calc(100% - 20px);
    height: 40px;
    font-size: 15px;
    color: #878787;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: auto;
    border: none;
    background: none;
}

.vertical-separator {
    width:0.5px;
    height: calc(100% - 14px);
    margin: 7px 0;
    background-color:#d3d3d3;
}

.bottom-bar {
    width: calc(100% - 40px);
    margin: 0px 20px 10px 20px;
    background-color:transparent;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-button {
    width: 140px;
    height:100%;
    border-radius: 50px;
    background-color: #ff5a5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.search-button img {
    width:18px;
    height: 18px;
    margin: auto 5px;
}
.search-button p {
    margin: auto 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;
}
.search-button:hover {
    background-color: #E41D5A;
    transition: 0.3s
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info img {
    width:20px;
    height: 20px;
    margin: auto 10px;
}
.info p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    font-weight: 400;
    transition: 0.3s;
}

.list-of-hotels {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.left-box {
    width: 20%;
    margin: 0 auto;
    background-color:transparent;
    margin-top: 10px;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
}

.filters {
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.offers {
    width: 100%;
    height: 150px;
    background-color: #ff5a5f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.right-box {
    width: 80%;
    background-color: transparent;
}

.hotel-card {
    width:100%;
    margin: 10px auto;
    background-color: white;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    position: relative; 
}

.hotel-image-box {
    width:27%;
    height: 100%;
    background-color:transparent;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.3s;
}
/* .hotel-image-box img:hover {
    -webkit-mask-image: radial-gradient(circle at 90% , yellow 50%, rgba(0, 0, 0, 0.9) 10%);
    transition: 0.3s
} */

.hotel-info-box {
    width:49.8%;
    height: 100%;
    background-color:white;
    border-radius: 20px;
    overflow: hidden;
}

.hotel-info-box h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    color: #2a2b2b;
    font-weight: 700;
    margin: 0px 15px;
    margin-top: 20px;
}


.hotel-rating {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0
}
.hotel-rating img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 3px;
}
.hotel-rating h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: #E8AD04;
    font-weight: 700;
    margin: 0;
    margin-top: 5px;
}
.hotel-rating p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
    margin-left: 5px;
    margin-top: 8px;
}

.hotel-price-box {
    width:22%;
    height: 100%;
    background-color:white;
    border-radius: 20px;
    padding: 20px 0;
    margin-left: 5px;
}

.top-circle-cut {
    width: 20px;
    height: 20px;
    background-color: #F1F2F8;
    position : absolute;
    top : -10px;
    right : calc(23% - 10px);
    z-index: 100;
    border-radius: 10px;
}
.bottom-circle-cut {
    width: 20px;
    height: 20px;
    background-color: #F1F2F8;
    position : absolute;
    bottom : -10px;
    right : calc(23% - 10px);
    z-index: 100;
    border-radius: 10px;
}

.features {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
}
.feature{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #2a2b2b;
    font-weight: 600;
    margin: 5px 0;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 30px;
}

.location-distance {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location-distance img {
    width:15px;
    height: 15px;
    margin-right: 5px;
}
.location-distance p {
    font-family: "Montserrat", sans-serif;
    font-size: 12.5px;
    color: #878787;
    font-weight: 400;
    margin: 0;
}

.gradient {
    background: linear-gradient(to bottom, #F1F2F8, #d3d3d3, #F1F2F8)
}

.amenities {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
}

.amenity {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 10px 10px 10px 0;
    align-items: center;
}
.amenity img {
    width:20px;
    height: 20px;
    margin:0;
    margin-right: 5px;
}
.amenity p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    color: #484848;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.prices {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
}

.price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}
.price-box p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #2a2b2b;
    font-weight: 500;
    margin: 0px 0;
    text-align: left;
}
.price-box h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    color: #2a2b2b;
    font-weight: 700;
    margin: 5px 0 5px 0;
    text-align: left;
}

.separator-grey {
    width: calc(100% - 30px);
    margin: 0px 15px;
    height: 1px;
    background-color: #eee;
    border-radius: 1px;
}

.hotel-price-box h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #2a2b2b;
    font-weight: 700;
    margin: 5px 0 0 0;
    text-align: right;
    margin-right: 15px;
}
.hotel-price-box h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #2a2b2b;
    font-weight: 500;
    margin: 0px;
    text-align: right;
    margin-right: 15px;
}
.parent-div {
    align-self: flex-end;
    margin: 15px 15px 0 0;
    display: flex;
    justify-content: flex-end;
}
.hotel-price-box h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    text-align: right;
    background-color: #0DAEC0;
    border-radius: 20px;
    /* width: 100px; */
    align-self: flex-end;
    margin: 0;
    padding: 4px 8px;

}
.hotel-price-box h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 28px;
    color: #2a2b2b;
    font-weight: 800;
    margin: 5px 0 0 0;
    text-align: right;
    margin-right: 15px;
    line-height:28px;
}
.hotel-price-box h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #878787;
    font-weight: 500;
    margin: 0px 0 0 0;
    text-align: right;
    margin-right: 15px;
}
.hotel-price-box p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #ababab;
    font-weight: 400;
    margin: 0px 0 0 0;
    text-align: right;
    margin-right: 15px;
}

.book-button {
    width: calc(100% - 20px);
    margin: 35px 10px 10px 10px;
    height: 40px;
    border-radius: 40px;
    background-color: #FF5A5F;
    border: none;
    transition: 0.3s;
}
.book-button a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.book-button:hover {
    background-color: #E41D5A;
    transition: 0.3s;
}

.filters-title {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 15px;
    margin-bottom: 15px
}
.filters-title h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #2a2b2b;
    font-weight: 600;
    margin: 0px 0 0 0;
}
.filters-title img {
    width: 22px;
    height: 22px;
    transform: rotate(-90deg);
}

.checkbox-container {
    display: block;
    position: relative;
    margin: 0 15px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #3E3F3F;
    font-weight: 500;
    margin-top: 2px;
    padding: 5px 8px;
    transition: 0.3s;
    border-radius: 10px;
    margin-left: 8px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 0.5px solid #d3d3d3;
    border-radius: 10px;
    transition: 0.3s;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #eee;
}
 
.checkbox-container input:checked ~ .checkmark {
    background-color: #ff5a5f;
    border: 0.5px solid #ff5a5f;
    transition: 0.3s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 7.5px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    border-radius: 0.1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filters h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #2a2b2b;
    font-weight: 600;
    margin: 10px 15px;
    margin-top: 25px;
}

.price-filter {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #878787;
    font-weight: 500;
    margin: 0 15px;
}
.price-filter input[type=text] {
    width: 23%;
    background-color:white;
    border-radius: 20px;
    height: 30px;
    border: 0.5px solid #f6f6f6;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 10px;
    font-size: 12px;
    color: #878787;
    font-weight: 500;
}
.price-filter button {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color:#FF5A5F;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    transition: 0.3s;
    margin-left: 10px;
}
.price-filter button:hover {
    background-color: #E41D5A;
    transition: 0.3s;
}
.price-filter button img {
    width:15px;
    height: 15px;
}

.results-text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #2a2b2b;
    font-weight: 700;
    width: 90%;
    margin: 10px auto;
    padding-left: 20px;
}
