@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap';


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeIn{
    animation: fadeIn ease 1s;
}

.fadeOut{
    animation: fadeOut ease 1s
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    background-color: #F1F2F8;
}

.iframe-footer {
    width: 100%;
    height: 540px;
    border: none;
    margin-top: 30px;
    background-color: #2a2b2b;
    margin-bottom: 0;
    padding:0;
}

.iframe-header {
    width: 100%;
    height: 90px;
    border: none;
    /* border-bottom: 1px #d3d3d3 solid; */
    background-color: transparent;
    margin-bottom: 0;
    padding:0;
    position: absolute;
}

.main-container {
    margin: 0;
    width: 100%;
    color: blue;
    align-items: center;
    overflow: hidden;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom right, #0000004a 50%, #00000000), url("../images/new_york.jpg");
    background-size: cover;
    
}

.main-content {
    height: 540px;
    width: 100%;
    display: flex;
    align-items: center;  
    flex-direction: column;
    padding-top: 90px;
}

.main-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    border-bottom: 1.7px solid #fff;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    line-height:75px
}
.main-content h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.hero {
    color: #111236;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: relative;
    display: flex;
    min-width: 10rem;
    height: 1.5rem;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    align-self: flex-end;
}
.hero::after{
    box-sizing: inherit;
}
.hero::before{
    box-sizing: inherit;
}

.svg-curve {
    color: #111236;
    /* font-family: Skyscanner Relative,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif; */
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: absolute;
    bottom: -1px;
    width: 700rem;
    height: 1.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    fill: #F1F2F8;
    overflow: hidden;
    
}
.svg-curve::before {
    box-sizing: inherit;
}
.svg-curve::after {
    box-sizing: inherit;
}

.search-hotels {
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
    /* height: 200px; */
    background-color: #2a2b2bca;
    border-radius: 10px;
    overflow: hidden;
}

.search-hotels-info {
    width: calc(100% - 30px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
    vertical-align: center;
    margin: auto;
}

.separator {
    width: calc(100% - 50px);
    margin: 0px 25px;
    height: 1px;
    background-color: #636363;
    border-radius: 1px;
}

.search-hotels-info h5 {
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    vertical-align: center;
    margin: auto 15px;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:#ff5a5f;
    margin: auto 0px;
}

.searchbar {
    width: calc(100% - 30px);
    /* height: 80px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 15px 5px 15px;
    border-radius:10px;
    overflow: hidden;
}

.searchbar-inner {
    width: calc(100% - 10px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white;
    margin: 0px 5px 5px 5px;
    border-radius:10px;
    overflow: hidden;
}

.searchbar-info {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
    margin: 5px 0px 5px 0px;
    border-radius:10px;
    overflow: hidden;
}

.searchbar-info h3 {
    font-size: 14px;
    color: #ff5a5f;
    font-family: 'Montserrat', sans-serif;
    margin: auto 10px;
    font-weight: 600;
}

.location-width {
    width: 50%;
}
.check-in-width {
    width: 15%;
}
.check-out-width {
    width: 15%;
}
.guests-width {
    width: 20%;
}

.location {
    width: 48.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.location:hover {
    background-color: #eee;
    transition: 0.3s
}

.check-in:hover {
    background-color: #eee;
    transition: 0.3s
}

.check-out:hover {
    background-color: #eee;
    transition: 0.3s;
}

.guests:hover {
    background-color: #eee;
    transition: 0.3s
}

.check-in {
    width: 15.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.check-out {
    width: 15.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.guests {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transition:0.3s
}

.searchbar input {
    padding: auto 10px;
    width: calc(100% - 20px);
    height: 40px;
    font-size: 15px;
    color: #878787;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: auto;
    border: none;
    background: none;
}

.vertical-separator {
    width:0.5px;
    height: calc(100% - 14px);
    margin: 7px 0;
    background-color:#d3d3d3;
}

.bottom-bar {
    width: calc(100% - 40px);
    margin: 0px 20px 10px 20px;
    background-color:transparent;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-button {
    width: 140px;
    height:100%;
    border-radius: 50px;
    background-color: #ff5a5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.search-button img {
    width:18px;
    height: 18px;
    margin: auto 5px;
}
.search-button p {
    margin: auto 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;
}
.search-button:hover {
    background-color: #E41D5A;
    transition: 0.3s
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info img {
    width:20px;
    height: 20px;
    margin: auto 10px;
}
.info p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    font-weight: 400;
    transition: 0.3s;
}

.list-of-hotels {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.left-box {
    width: 25%;
    margin: 0 auto;
    background-color:gold;
    height: 300px;
}

.right-box {
    width: 75%;
    height: 700px;
    background-color: transparent;
}

.hotel-card {
    width:100%;
    margin: 10px auto;
    background-color: white;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    position: relative; 
}

.hotel-image-box {
    width:25%;
    height: 100%;
    background-color:goldenrod;
    overflow: hidden;
}

.hotel-info-box {
    width:54.8%;
    height: 100%;
    background-color:white;
    border-radius: 20px;
    overflow: hidden;
}

.hotel-info-box h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    color: #2a2b2b;
    font-weight: 700;
    margin: 0px 10px;
    margin-top: 20px;
}


.hotel-rating {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0
}
.hotel-rating img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 3px;
}
.hotel-rating h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: #FFC107;
    font-weight: 700;
    margin: 0;
    margin-top: 5px;
}
.hotel-rating p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
    margin-left: 5px;
    margin-top: 8px;
}

.hotel-price-box {
    width:19%;
    height: 100%;
    background-color:white;
    border-radius: 20px;
    padding: 20px 0;
    margin-left: 5px;
}

.top-circle-cut {
    width: 20px;
    height: 20px;
    background-color: #F1F2F8;
    position : absolute;
    top : -10px;
    right : calc(20% - 10px);
    z-index: 100;
    border-radius: 10px;
}
.bottom-circle-cut {
    width: 20px;
    height: 20px;
    background-color: #F1F2F8;
    position : absolute;
    bottom : -10px;
    right : calc(20% - 10px);
    z-index: 100;
    border-radius: 10px;
}

.features {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
}
.features p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #878787;
    font-weight: 600;
    margin: 5px 0;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 30px;
}

.location-distance {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location-distance img {
    width:20px;
    height: 20px;
    margin-right: 10px;
}
.location-distance p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
}


