/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap';


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeIn{
    animation: fadeIn ease 1s;
}

.fadeOut{
    animation: fadeOut ease 1s
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color:#fff;
}
a.middle
{
    position: relative;
}
a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out;
}
a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

select {
    appearance: none;
    background: url("../images/icons/down_white.png") 96% / 25% no-repeat;
    font-size: 15px;
    margin-top: 10px;
    line-height: 20px;
    background-color: transparent
}
select.change {
    background: url("../images/icons/down_black.png") 96% / 25% no-repeat;   
}

option  {
    background: transparent
}

.btn {
    width:120px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border: 2px solid #d3d3d3;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 40px;
    color:#fff;
    margin: 20px auto;
    margin-top: 60px;
    transition: 0.3s;
    padding-left: 15px;
}
.btn:hover {
    background-color:#FF5A5F;
    border: 1px solid #FF5A5F;
    transition: 0.3s;
}
.btn img {
    width:12px;
    height: 12px;
    transform: rotate(-90deg);
    margin-right: 10px;
    transition: 0.3s
}
.btn img:hover {
    margin-right:0;
    transition: 0.3s;
    margin-left: 20px;
}

.main-container{
    margin: 0;
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/976/320/894/nevada-north-america-fountains-of-bellagio-and-surrounding-hotels-view-from-the-balcony-of-the-cosmopolitan-hotel-in-las-vegas-beautiful-desktop-wallpaper-hd-2880%C3%971620-wallpaper-preview.jpg"); */
    width: 100%;
    background-image:linear-gradient(to bottom right, #000000aa, #00000000), url("../images/icons/wallpaper.jpg");
    height: 95vh;
    color: blue;
    padding-top: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    overflow: hidden;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
}



.home-header {
    width: 100%;
    height: 80px;
    padding: 5px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    margin: 0 0px;
    top: 0;
    align-self: center;
}

.home-logo-content {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.home-logo-content span {
    margin-left: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.change span  {
    color: #FF5A5F
}

.home-options {
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-searchbar {
    height: 45px;
    background-color:white;
    border-radius: 30px;
}

.home-searchbar-menu-visible {
    background-color: none;
    width:40%;
    height: 50px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    align-items: center;
    transition: 0.3s ease-in;
}

.home-searchbar-menu-not-visible {
    display: none;
    transition: 0.3s ease-in;
}

.home-searchbar-menu-visible ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    transition: 0.3s ease-in;
}

.home-searchbar-inside {
    background:#fff;
    width:50%;
    height: 50px;
    margin-top: 170px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position:absolute;
    border-radius: 100px;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease-in-out;
}

.home-searchbar-outside {
    background:white;
    margin: 0;
    padding: 0 5px 0 15px;
    width:20%;
    border: 1px solid #d3d3d3;
    transition: 0.3s ease-in-out;
}

.home-searchbar-small {
    background:white;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 100%;
    border-radius: 20px;
}

.home-content-main {
    width: 100%;
    height: 100%;
    background-color: none;
    padding-top : 100px;
    align-items: center;
    /* display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative; */
}

.home-content-main h1 {
    margin: 20px auto;
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    width: 50%;
    text-align: center;
    line-height: 85px;
}

.home-content-main h5 {
    margin: 20px auto;
    margin-top: 90px;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    width: 80%;
    text-align: center;
    line-height: 20px;
}

.white-bg {
    background:white;
}

.no-bg {
    background:none
}

.searchbar-small-input {
    flex: 1;
    height: 30px;
    background-color: white;
    text-align: left;
    padding: 0px;
    border:none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #878787;
    font-weight: 500;
}

.search-button-small {
    width: 35px;
    height: 35px;
    background-color:#F33C43;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    overflow: hidden;
}
.search-button-small:hover {
    background-color:#E41D5A
}

.menu li {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.language-select-div {
    width: 65px;
    height: 35px;
    border-radius: 25px;
    background: none;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.language-select {
    border-radius: 100px;
    border: none;
}

.my-profile {
    width: 60px;
    height: 40px;
    padding: 0 10px;
    margin: 0 0 0 15px;
    border-radius: 30px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.7px solid #d3d3d3;
}

.location {
    width: 30%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 1px solid #d3d3d3;
}

.check-in {
    width: 15%;
    height: 100%;
    border-right: 1px solid #d3d3d3;
    padding: 0 10px;
}

.check-out {
    width: 15%;
    height: 100%;
    border-right: 1px solid #d3d3d3;
    padding: 0 10px;
}

.guests {
    width: 20%;
    height: 100%;
    padding: 0 10px;
}

.search-button-large {
    width:50px;
    height: 50px;
    border-radius:30px;
    background-color:#F33C43;
    border:none;
    position:absolute;
    right:10px;
    bottom:10px;
    transition:0.5s
}

.search-button-large:hover {
    background-color:#E41D5A
}

.searchbar-input {
    margin: 0;
    width: 90%;
    height: 20px;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #93969D;
    border:none;
}

.searchbar-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #2a2b2b;
    margin: 0;
}

.hero {
    color: #111236;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: relative;
    display: flex;
    min-width: 10rem;
    height: 1.5rem;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    align-self: flex-end;

}
.hero::after{
    box-sizing: inherit;
}
.hero::before{
    box-sizing: inherit;
}

.svg-curve {
    color: #111236;
    /* font-family: Skyscanner Relative,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif; */
    font-size: 1rem;
    line-height: 1.3rem;
    box-sizing: inherit;
    position: absolute;
    bottom: -1px;
    width: 700rem;
    height: 1.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    fill: #fff;
    overflow: hidden;
    
}
.svg-curve::before {
    box-sizing: inherit;
}
.svg-curve::after {
    box-sizing: inherit;
}

.three-features {
    width: 100%;
    height: 500px;
    background-color:transparent;
    align-items: center;
}
.three-features h2 {
    font-size:45px;
    color: #2a2b2b;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    text-align: center;
    margin: 10px auto;
    margin-top: 40px;
}
.three-features h3 {
    font-size:20px;
    color: #878787;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    text-align: center;
    margin: 30px auto;
}
.three-features-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
.three-features-item{
    width: 22%;
    margin: 0 10px;
    background-color:transparent;
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}
.three-features-item h4{
    font-size:18px;
    color: #2a2b2b;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    text-align: center;
    margin: 20px auto;
}
.three-features-item p{
    font-size:14.5px;
    color: #878787;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    text-align: center;
    margin: 10px auto;
    line-height:24px;
    width:85%
}
.three-features-item img{
    width:70px;
    height: 70px;
    align-self: center;
    justify-self: center;
}
.three-features-circle {
    width:110px;
    height: 110px;
    border-radius:50%;
    background-color: #f6f6f6;
    align-items: center;
    justify-content:center;
    align-self: center;
    display: flex;
}


